<ul class="media-list">
  <% tasks.each do |task| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(task.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= task.user.name %> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div>
          <p>タスク: <%= task.content %></p>
        </div>
         <p>ステータス: <%= task.status %></p>
      </div>
      <div>
          <% if current_user == task.user %>
            <%= link_to '編集する', edit_task_path(task), class: 'btn btn-default btn-xs' %>
            <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>

    </li>
  <% end %>
  <%= paginate tasks %>
</ul>