<h1><%= current_user.name %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'Taskを編集する', edit_task_path(@task),class: 'btn btn-default' %>
<%= link_to "このTaskを削除する", task_path(@task), method: :delete, data: { confirm: '本当に削除してよろしいですか？' },class: 'btn btn-danger' %>
<%= link_to 'トップページへ' , root_path(current_user), class: 'btn btn-info' %>